body {
    margin: 0;
    padding: 0;   

    font-family: 'Roboto', 'sans-serif'; /*Familia da fonte (letras)*/
    background-color: #bdb3b9; /*Fundo rosa*/
    color: #333; /*Cor da fonte*/    
}

.container {

    /**Definindo o container principal da página**/
    
    width: 100%; /*Largura container*/
    height: 1200px; /*Altura container*/  
    background-color: #ffffffee; /*Fundo branco com transparência*/     
    }


/*CABEÇALHO*/
.header {
    background-color: #ffffffef; /*fundo um pouco mais claro*/
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    flex-wrap: wrap; /*Permite que os elementos do cabeçalho quebrem linha se necessário*/
    position: sticky; /*Fixa o cabeçalho no topo da página ao rolar*/
    align-items: center;  /*Alinhando horizontalmente no centro*/
    justify-content: space-between; /*Espaço entre os elementos do cabeçalho*/    
    box-shadow: 0 1px rgb(0, 0, 0, 0.3); /*Sombra abaixo do cabeçalho*/
    backdrop-filter:blur(10px); /*Deixa o fundo do cabeçalho com um efeito de desfoque*/
    padding: 0 30px; /*Espaçamento interno do cabeçalho*/
              
}

/*LOGO*/

.logo {
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    align-items: center; /*Alinhando horizontalmente no centro*/
    padding-left: 20px; /*Espaçamento interno da logo*/
}
.header .logo img {
    
    height: 60px; /*Aqui definimos a altura em 80px*/
    width: 100px; /*Aqui definimos a largura em 100px*/
    border-radius: 50%; /*Bordas arredondadas na logo*/
    object-fit: contain;
    
}

/*MENU NAV*/
.header .menu {
        
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    gap: 40px;  /* Espaço de 15px entre os itens do menu (deixa um afastado do outro) */ 
    flex-wrap: wrap;    
}

  /*ESTILIZAÇÂO MENU*/
.header .menu a {
    color: #4a3f46; /*Letra cinza */
    color: #4a3f46; /*Letra cinza */
    text-decoration: none;  /* Tira qualquer decoraçao do texto, no caso o link */
    font-size: 18px; /*Tamanho da fonte */
    font-weight: 500; /*Espessura/Peso da fonte*/ 
    font-weight: bold; /*Espessura/Peso da fonte*/ 
    transition: 0.3s; /*Transição suave de 0.3 segundos - efeito visual*/ 
    flex-wrap: wrap; 
   
       
}

 /* hover*/
 .header .menu a:hover {
    color: #7a3c51; /* bordô suave */
}

.acoes {
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    align-items: center; /*Alinhando horizontalmente no centro*/
    gap: 30px; /*Espaçamento entre o carrinho e o botao*/
}

/*Estilizando o Carrinho*/
.carrinho {
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    align-items: center; /*Alinhando horizontalmente no centro*/
     margin-left: auto;
    
    }

.carrinho img {
    width: 28px; /*largura do carrinho*/
    height: 28px; /*altura do carrinho*/
    cursor: pointer; /*ponteiro ao passar o mouse*/
 }

 /*Estilizando o botao login*/
 .botao .login{
    
    width: 100px; /*largura do botao*/
    height: 35px;
    background-color: #7a3c51; /*Fundo rosa*/
    color:#fff; /*cor do texto*/
    border-radius: 10px; /*circuferência da borda*/
    border: 2px solid #7a3c51; /*borda*/
    font-weight: bold; /*fonte em negrito*/
    font-size: 18px; /*tamanho da fonte*/
    cursor: pointer; /*ponteiro*/

    margin-right: 20px; /*margem direita*/
    
}
 .carrinho:hover {
        transform: scale(1.1); /*aumenta o tamanho do botao ao passar o mouse*/
        }

    /*hover botao login*/
    .botao .login:hover {
        background-color: #7a3c51; /*cor de fundo bordô*/
        color: #ffffff; /*cor do texto branco*/
        transform: scale(1.1); /*aumenta o tamanho do botao ao passar o mouse*/
        box-shadow: 0 6px 15px rgba(122, 60, 81, 0.4); /*sombra*/
        }