body {
    margin: 0; /*Margem da página*/
    padding: 0; /*Espaçamento interno da página*/   

    font-family: 'Roboto', 'sans-serif'; /*Familia da fonte (letras)*/
    color: #333; /*Cor da fonte*/    
}

/**Definindo o container principal da página**/
.container {  
    width: 100%; /*Largura container*/
    height: 1200px; /*Altura container*/  
    background-color: #ffffffee; /*Fundo branco com transparência*/     
    }

/*CABEÇALHO*/
.header {
    background-color: #ffffffef; /*fundo um pouco mais claro*/
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    flex-wrap: wrap; /*Permite que os elementos do cabeçalho quebrem linha se necessário*/
    position: sticky; /*Fixa o cabeçalho no topo da página ao rolar*/
    align-items: center;  /*Alinhando horizontalmente no centro*/
    justify-content: space-between; /*Espaço entre os elementos do cabeçalho*/    
    box-shadow: 0 1px rgb(0, 0, 0, 0.3); /*Sombra abaixo do cabeçalho*/
    backdrop-filter:blur(10px); /*Deixa o fundo do cabeçalho com um efeito de desfoque*/
    padding: 0 30px; /*Espaçamento interno do cabeçalho*/
              
}

/*LOGO*/
.logo {
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    align-items: center; /*Alinhando horizontalmente no centro*/
    padding-left: 20px; /*Espaçamento interno da logo*/
}

/*ESTILIZAÇÃO DA LOGO*/   
.header .logo img {
    
    height: 60px; /*Aqui definimos a altura em 80px*/
    width: 100px; /*Aqui definimos a largura em 100px*/
    border-radius: 50%; /*Bordas arredondadas na logo*/
    object-fit: contain; /*Mantém a proporção da imagem*/
    
}

/*MENU NAV*/
.header .menu {
        
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    gap: 40px;  /* Espaço de 15px entre os itens do menu (deixa um afastado do outro) */ 
    flex-wrap: wrap;    
}

  /*ESTILIZAÇÂO MENU*/
.header .menu a {
    color: #4a3f46; /*Letra cinza */
    color: #4a3f46; /*Letra cinza */
    text-decoration: none;  /* Tira qualquer decoraçao do texto, no caso o link */
    font-size: 18px; /*Tamanho da fonte */
    font-weight: 500; /*Espessura/Peso da fonte*/ 
    font-weight: bold; /*Espessura/Peso da fonte*/ 
    transition: 0.3s; /*Transição suave de 0.3 segundos - efeito visual*/ 
    flex-wrap: wrap; 
   
       
}

 /* hover menu*/
 .header .menu a:hover {
    color: #7a3c51; /* bordô suave */
}

/*AÇÕES DO CABEÇALHO (CARRINHO E BOTOES)*/
.acoes {
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    align-items: center; /*Alinhando horizontalmente no centro*/
    gap: 30px; /*Espaçamento entre o carrinho e o botao*/
}

/*Estilizando o Carrinho*/
.carrinho {
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    align-items: center; /*Alinhando horizontalmente no centro*/
    margin-left: auto;
    
    }

.carrinho img {
    width: 28px; /*largura do carrinho*/
    height: 28px; /*altura do carrinho*/
    cursor: pointer; /*ponteiro ao passar o mouse*/
 }

 /*Estilizando o botao login*/
 .botao .login{
    width: 100px; /*largura do botao*/
    height: 35px; /*altura do botao*/
    background-color: #7a3c51; /*cor de fundo bordô*/
    color: #fff; /*cor do texto branco*/    
    border-radius: 10px; /*bordas arredondadas*/
    border: none; /*sem borda*/
    font-weight: bold; /*negrito*/
    font-size: 16px; /*tamanho da fonte*/
    cursor: pointer; /*ponteiro ao passar o mouse*/
    
}

    /*Estilizando o botao cadastro*/
.botao .cadastro{
    
    background: none; /*Fundo transparente*/
    border: none; /*Sem borda*/
    color: #7a3c51; /*cor bordô*/
    font-weight: bold; /*negrito*/
    font-size: 16px; /*tamanho da fonte*/
    cursor: pointer; /*ponteiro ao passar o mouse*/
}

    /*hover botao cadastro*/
.botao .cadastro:hover {
    transform: scale(1.2); /*aumenta o tamanho do botao ao passar o mouse*/
     
    }

    /*hover carrinho*/

 .carrinho:hover {
        transform: scale(1.1); /*aumenta o tamanho do botao ao passar o mouse*/
        }

    /*hover botao login*/
    .botao .login:hover {
        background-color: #ffffff; /*cor de fundo bordô*/
        color: #7a3c51; /*cor do texto branco*/
        transform: scale(1.1); /*aumenta o tamanho do botao ao passar o mouse*/
        box-shadow: 0 6px 15px rgba(122, 60, 81, 0.4); /*sombra*/
        }