body {
    margin: 0;
    padding: 0;

    /*ViewPort é a tela visivel dependendo do aparelho, se colocasse só o pixel, não levaria em conta o aparelho da pessoa, por isso 100vw(viewidth) e 100vh(viewheight)*/
    width: 100vw; /*Largura de 100 viewPortWidth (Tela Visivel Largura)*/
    height: 100vh; /*altura 100 ViewPortHeight*/
    font-family: 'Roboto', 'sans-serif'; /*Familia da fonte (letras)*/
    background-color: #bdb3b9; /*Fundo rosa*/
    color: #333; /*Cor da fonte*/
}

.container {
    
    width: 80vw; /*Largura máxima do container*/
    height: 50vw; /*Altura automática do container*/
    margin: 50px auto; /*Centraliza o container na tela*/
    padding: 20px; /*Espaçamento interno do container*/
    border-radius: 10px; /*Bordas arredondadas do container*/
    background-color: #ffffffee; /*Fundo branco com transparência*/
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1); /*Sombra ao redor do container*/
    }


/*CABEÇALHO*/
.header {
    
    background-color: #ffffffef; /*fundo um pouco mais claro*/
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/

/*é um módulo de layout poderoso que facilita a organização, alinhamento e distribuição de itens dentro de um contêiner, seja em uma dimensão (linha ou coluna), tornando os layouts mais responsivos e flexíveis, ideal para menus.
Quando você aplica display: flex; a um elemento, ele se torna um "contêiner flexível", e seus filhos se transformam em "itens flexíveis" que podem ser controlados com propriedades como flex-direction, justify-content, align-items*/

    align-items: center;  /*Alinhando horizontalmente no centro*/
    justify-content: space-between; /*Espaço entre os elementos do cabeçalho*/
    padding: 15px 40px; /* deixa espaçamento interno nas laterais, 15px em cima e baixo, 40px direita e esquerda*/
    box-shadow: 0 0.3px rgb(0, 0, 0, 0.3); /*Sombra abaixo do cabeçalho*/
    backdrop-filter:blur(10px); /*Deixa o fundo do cabeçalho com um efeito de desfoque*/
          
}

/*LOGO*/
.header .logo img {
    height: 80px; /*Aqui definimos a altura em 80px*/
    width: 105px; /*Aqui definimos a largura em 100px*/
    border-radius: 100%; /*Bordas arredondadas na logo*/
    
}

/*MENU NAV*/
.header .menu {
    display: flex; /*Aqui definimos que os elementos do cabeçalho podem ficar em diferentes posições*/
    gap: 40px;  /* Espaço de 15px entre os itens do menu (deixa um afastado do outro) */ 
               
}

  /*ESTILIZAÇÂO MENU*/
.header .menu a {
    color: #4a3f46; /*Letra cinza */
    text-decoration: none;  /* Tira qualquer decoraçao do texto, no caso o link */
    font-size: 20px; /*Tamanho da fonte */
    font-weight: 500; /*Espessura/Peso da fonte*/ 
    font-weight: bold; /*Espessura/Peso da fonte*/ 
    transition: 0.3s; /*Transição suave de 0.3 segundos - efeito visual*/ 
       
}

 /* hover*/
 .header .menu a:hover {
    color: #7a3c51; /* bordô suave */
}

 /*Estilizando o botao login*/

 .botao .login{
    width: 120px; /*largura do botao*/
    height: 50px;
    background-color: #7a3c51; /*Fundo rosa*/
    color:#fff; /*cor do texto*/
    border-radius: 10px; /*circuferência da borda*/
    border: 2px solid #7a3c51; /*borda*/
    font-weight: bold; /*fonte em negrito*/
    font-size: 20px; /*tamanho da fonte*/
    cursor: pointer; /*ponteiro*/
    transition: 0.3s; /*transição suave de 0.3 segundos - efeito visual*/
}

    /*hover botao login*/
    .botao .login:hover {
        background-color: #7a3c51; /*cor de fundo bordô*/
        color: #ffffff; /*cor do texto branco*/
    }
